.option {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
}

.expand {
    flex-grow: 4;
}

.disabled {
    color: rgba(255, 255, 255, 0.3);
}

.title {
    padding: 3px;
    font-size: medium;
}

.description {
    padding: 3px;
    font-size: x-small;
}

.button-container {
    width: 35%;
    margin: auto;
    display: flex;
}

.open-button {
    flex-grow: 0;
    width: 20%;
    min-width: 100px;
}